body{
    margin: 0;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 35px;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}
/******* Header Section *******/

header {
    background-color: #70a48b;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-box {
    width: fit-content;
    padding-left: 15vw;
}
.header-logo {
    height: 7em;
    padding: 30px 15px 0;
}

.nav-list {
    border: 2px solid white;
    border-radius: 10px;
    list-style: none;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 10px;
    padding: 10px 5px;
}

.dark-li {
    background-color: #1f211c;
    border: 2px solid #1f211c;
    border-radius: 10px;
    padding: 10px 5px;
}

/******* Main Section *******/

.main-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.location-section {
    justify-content: center;
    padding: 40px 50px;
}

.location-list {
    padding: 0;
}

.location-list li{
    background-color: #70a48b;
    color: white;
    border: 2px solid #1f211c;
    border-radius: 10px;
    list-style: none;
    padding-left: 25px;
    margin: 15px 0;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    text-align: left;
}

.animal-section {
    padding: 40px 30px;;
}

.animal-section h2 {
    margin-left: 20px;
}

.animal-pics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.animal {
    margin: 20px;
    border-radius: 10px;
    width: 250px;
}

/******* Footer Section *******/

.footer-section {
    background-color: #70a48b;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-logo {
    height: 3em;
    padding: 15px 10px;
}


@media screen and (min-width: 768px) {
    .header-logo {
        height: 5em;
        float: left;
        padding: 30px 15px 0;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-section {
        flex-direction: row;
        margin-bottom: 75px;
    }

    .location-section {
        width: 33%;
    }

    .animal-section {
        width: 66%;
    }

    .animal-pics {
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 50px;
    }

}